.banner_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;

    .banner{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;


        h3{
            font-size:  40px;
            font-weight: 700;
            margin-top: 20px;
            max-width: 650px;
            text-align: center;
            color: rgb(32,28,140);
            animation: identifier 4s alternate;
            font-family:'Times New Roman', Times, serif
        }

        p{
            font-size: 20px;
            font-weight: 400;
            max-width: 1000px;
            margin: 0;
            text-align: center;
            color: rgb(34,34,34);
            animation: identifier 4s alternate;
            font-family:'Times New Roman', Times, serif,
        }

        @keyframes identifier {
            0% {
                transform: translateY(10%);
            }
            
            100% {
                transform: translateY(0);
            }
        }

    }

    .info_images{
        display: grid;
        align-items: center;
        width: 80%;
        margin-top: 40px;
        gap: 30px;
        grid-template-areas: 
        'image1 image1 image1 . .'
        'image1 image1 image1 . .'
        'image1 image1 image1 image2 image2'
        'image1 image1 image1 image2 image2'
        'image1 image1 image1 image2 image2'
        'image1 image1 image1 image2 image2'
        '. . . image2 image2'
        'image3 image3 . . .'
        'image3 image3 image4 image4 image4'
        'image3 image3 image4 image4 image4'
        'image3 image3 image4 image4 image4'
        'image3 image3 image4 image4 image4'
        'image3 image3 image4 image4 image4'
        '. . image4 image4 image4'
        '. . image4 image4 image4'
        'image5 image5 image5 . .'
        'image5 image5 image5 . .'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 image6 image6'
        'image5 image5 image5 . .';

        .image1{
            grid-area: image1;
            width: 100%;
            height: auto;
        }

        .image2{
            grid-area: image2;
            width: 100%;
            height: auto;
        }

        .image3{
            grid-area: image3;
            width: 70%;
            height: auto;
        }

        .image4{
            grid-area: image4;
            width: 100%;
            height: auto;
        }

        .image5{
            grid-area: image5;
            width: 100%;
            height: auto;
        }

        .image6{
            grid-area: image6;
            width: 100%;
            height: auto;
        }

        img{
            transition: 0.5s;
            &:hover{
                scale: 1.05;
                transition: 0.5s;
            }
            animation: picture 3s alternate;
        }
    
        @keyframes picture {
            0% {
                transform: scale3d(0.5, 0.5, 0.5);
            }
            50% {
                transform: scale3d(1.1, 1.1, 1.1);
            }
            100% {
                transform: scale3d(1, 1, 1);
            }
        }
    }


}


@media only screen and (max-width: 678px) {
    .banner_container{
        margin-top: 0px;
        gap: 10px;
        .info{
            h3{
                font-size: 30px;
            }
        }

        .info_images{
            width: 90%;
            grid-template-areas: 
            'image1 image1 image1'
            'image1 image1 image1'
            'image1 image1 image1'
            'image2 image2 image2'
            'image2 image2 image2'
            'image2 image2 image2'
            'image3 image3 image3'
            'image3 image3 image3'
            'image3 image3 image3'
            'image4 image4 image4'
            'image4 image4 image4'
            'image4 image4 image4'
            'image5 image5 image5'
            'image5 image5 image5'
            'image5 image5 image5'
            'image6 image6 image6'
            'image6 image6 image6'
            'image6 image6 image6';

            .image3{
                width: 100%;
                aspect-ratio: 1.5/1;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .banner_container{
        .info{
            h3{
                font-size: 22px;
            }

            p{
                font-size: 16px;
            }
        }

        .info_images{
            width: 100%;
            grid-template-areas: 
            'image1 image1'
            'image1 image1'
            'image1 image1'
            'image2 image2'
            'image2 image2'
            'image2 image2'
            'image3 image3'
            'image3 image3'
            'image3 image3'
            'image4 image4'
            'image4 image4'
            'image4 image4'
            'image5 image5'
            'image5 image5'
            'image5 image5'
            'image6 image6'
            'image6 image6'
            'image6 image6';
        }
    }
}